.table {
    width: 860px;
    border: 2px solid #05AD3E;
    border-collapse: collapse;
    margin: auto;
}

.table th,
.table td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
}

/* Estilo para el hover de las filas */
.table tbody tr:hover {
    background-color: #7CE7A0;
    /* Cambio de color al pasar el mouse */
    transition: background-color 0.3s ease;
    /* Transición suave de color */
}

/* Aumento del tamaño de las letras al pasar el mouse */
.table tbody tr:hover td {
    font-size: 16px;
    /* Tamaño de la fuente aumentado */
    transition: font-size 0.3s ease;
    /* Transición suave del tamaño de la fuente */
}

.divPage{
    text-align: center;
    margin-top: 10px;
}